/* main.css
* Made by Jordan Hale
* Version 2 - last updated: 12/09/2019
*/

#Name {
	margin: 0;
	padding: 25%;
	font-size: 3em;
	text-align: center;
	background-image: url("./images/RyanGosling.jpg");

}

li {
	display: inline;
}

nav {
	text-align: center;
	vertical-align: bottom;
	border-bottom: 1px;
	background-color: green;
}

