/* main.css
* Made by Jordan Hale
* Version 2 - last updated: 16/09/2019
*/

#Name {
	margin: 0;
	padding: 25%;
	font-size: 3em;
	text-align: center;
	background-image: url("./images/RyanGosling.jpg");
	background-size: 100%;
	background-position: center;
}

main {
	size: 95%
}

li {
	display: inline;
	padding: 5%;
}
