/* main.css
* Made by Jordan Hale
* Version 3 - last updated: 01/10/2019
*/


* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


body {
	font-family: 'Oswald', sans-serif;
}

header {
	display: flex;
	width: 90%;
	height: 10vh;
	margin: auto;
	align-items: center;
}

header img {
	max-width: 50px;
	max-height: 50px;
}

.logo, .nav-options {
	display: flex;
}

.logo {
	align-items: center;
	font-weight: 200;
	flex: 1;
}

.logo-name {
	margin-left: 5px;
}

.nav-options {
	justify-content: space-around;
	list-style: none;
}

.nav-option {
	color: #ee82ee;
	font-size: 18px;
	text-decoration: none;
}

nav {
	flex: 2;
}

.presentation {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
}

.introduction {
	flex: 1;
}

.intro-text {
	font-size: 30px;
}

.cover {
	flex: 1;
}

.cover img {
	height: 50vh;;
}
